
@import url(http://fonts.googleapis.com/css?family=Oswald);

.cart{
	margin:-18px -5px -15px -5px;
	
	width:40px; 
	height:30px;
	
}
.totaldiv{
	border:4px solid darkorange; 
	margin-left: 8px;
	padding: 55px 0px 10px 100px;
	border-top: 0px;
}
.uk-grid a{
	border:2px solid gray;
}
.details {
	 
	font-family: 'Oswald';
    color:#fd8a17;
    padding-top: 10px;
    
}
.details p{
	text-align: center;
}
.details input{
	float:left;
	margin-left: 30px;
	
}
.button {
	font-family: 'Oswald', sans-serif;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	margin:0px 0px 10px 30px;
	border: 2px solid #fd8a17 ;
	box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.5),
				0 0 1px 1px rgba(255,255,255,0.8),
				0 0 0 6px rgba(0,0,0,0.06),
				0 0 0 3px rgba(0,0,0,0.1);
	cursor: pointer;
}
.btntitle {
	padding: 5px;
	float: left;
	color: #fd8a17;
	font-weight: 600;
	font-size: 20px;
	text-shadow: 1px 1px rgba(0,0,0,0.2);
	text-transform: uppercase;
	border-right: 1px solid rgba(255,255,255,0.3);
}
.btnprice {
	padding: 5px;
	float: left;
	color: rgba(0,0,0,0.4);
	font-weight: 800;
	font-size: 20px;
	text-shadow: 1px 1px rgba(255,255,255,0.3);
	text-transform: uppercase;	
	border-left: 1px solid rgba(0,0,0,0.2);
}

.details ul,
.details ul li{
	list-style: none;
	text-align: left;
	
}


#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button
#cssmenu input {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Reis';
  src: url('REIS.ttf');
}

#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {
  display: none;
}
#cssmenu {
  width: auto;
  border: 3px solid #fd8a17;
  border-radius: 3px;
  font-family: 'Oswald', sans-serif;
  line-height: 1;
  background: #f7f7f7;
  box-shadow: 1px 1px 0 #df7002, 2px 2px 0 #df7002, 3px 3px 3px rgba(0, 0, 0, 0.35);
}
#cssmenu > ul {
  background: url('images/bg.png');
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu > ul > li > a ,
#cssmenu > ul > li > input{
  padding: 20px 25px;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fd8a17;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
#cssmenu > ul > li > a:hover,
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li.active > a {
  color: #444444;
}
#cssmenu #menu-indicator {
  position: absolute;
  bottom: 0;
  display: block;
  height: 0;
  width: 0;
  border: 5px solid transparent;
  border-bottom-color: #fd8a17;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
#cssmenu.small-screen {
  width: 100%;
}
#cssmenu.small-screen > ul,
#cssmenu.small-screen.align-center > ul {
  width: 100%;
  text-align: left;
}
#cssmenu.small-screen > ul > li,
#cssmenu.small-screen.align-center > ul > li {
  float: none;
  display: block;
  border-top: 1px solid rgba(100, 100, 100, 0.1);
}
#cssmenu.small-screen > ul > li > a {
  padding: 18px 25px;
}
#cssmenu.small-screen > ul > li:after,
#cssmenu.small-screen > ul > li:before {
  display: none;
}
#cssmenu.small-screen #menu-button {
  display: block;
  padding: 18px 25px;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fd8a17;
  background: url('images/bg.png');
}
#cssmenu.small-screen #menu-button.menu-opened {
  color: #444444;
}
#cssmenu.small-screen #menu-button:after {
  content: "";
  position: absolute;
  right: 25px;
  top: 19.5px;
  display: block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border-top: 2px solid #fd8a17;
  border-bottom: 2px solid #fd8a17;
  width: 18px;
  height: 3px;
}
#cssmenu.small-screen #menu-button.menu-opened:after {
  border-top: 2px solid #444444;
  border-bottom: 2px solid #444444;
}
#cssmenu.small-screen #menu-button:before {
  content: "";
  position: absolute;
  right: 25px;
  top: 29.5px;
  display: block;
  width: 18px;
  height: 2px;
  background: #fd8a17;
}
#cssmenu.small-screen #menu-button.menu-opened:before {
  background: #444444;
}
#cssmenu.small-screen #menu-indicator {
  display: none;
}

#tooltip1,#tooltip2 { 
	position: relative;
}
#tooltip1 a span , #tooltip2 a span { 
	display: none; color: #FFFFFF; 
	}
#tooltip1 a:hover span {
	display: block;
	position: absolute;
	width: 120px;
	background: #aaa; 
	height: 50px;
	top: 60px; 
	color: #FFFFFF;
	padding: 10px 0px 0px 5px;
	border:1px double lightgray;
	
}
#tooltip2 a:hover span{
	display: block;
	position: absolute;
	width: 120px;
	background: #aaa; 
	height: 50px;
	color: #FFFFFF;
	padding: 10px 0px 0px 5px;
	border:1px double lightgray;
	left:-50px;
	top: 60px; 
	
}
.search{
	margin-top: 10px;
	
}
.ui-widget {
	font-family: Verdana,Arial,sans-serif;
	font-size: 1.1em;
	width: 200px;
	display: inline-block;
	float: right;
	
}
.ui-widget .ui-widget {
	font-size: 20em;
	
	
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
	font-family: 'Oswald', Verdana,Arial,sans-serif;
	font-size: 1em;
	color:#fd8a17;
	
}

.ui-widget-content {
	border: 1px solid #aaaaaa;
	background: #aaa;
	color: #FFFFFF;
	list-style: none;
	padding:0px;
	margin:0px;
	
	
}
.ui-widget-content a {
	color: #222222;
}
.ui-widget-header {
	border: 1px solid #fd8a17;
	background: #cccccc ;
	color: #222222;
	font-weight: bold;
}
.ui-widget-header a {
	color: #222222;
}
